.db-connect-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.db-connect-test div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}